# Secrets
.env

# Old python minitwit
__pycache__/
.pytest_cache
*.pyc
*.pyo

# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Database and Logs
*.db
*.log
postgres_data/

# Temp files
*.lst

# Vagrant
.vagrant/
*.box
vagrant.log

# devcontainer for ymar
.devcontainer/

# Mac-OS stuff 
.DS_Store

# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars